body{
    background-color: black;
    display:flex;
}
#titulo{

    color: white;
    display: flex;
    justify-content: top;

}

#divisoria{
    display:flex;
    flex-direction: column; 
    align-items:center;
    justify-content: center;
    background-color: red;
   
    width:10000px;
    height:1000x;

}

#videlote{
    display: flex;
    flex-direction:column-reverse;
    justify-content: center;
    align-items: center;
    background-color: blue; 

    width:10000px;
    height:1000x;

    
}

.nikolas{


    height:300px;
    
    
}

a{
    font-size: xx-large
}
a:hover{
    color:brown;
}